<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative">
          Idealne miejsce na twoje przemyślenia
        </h1>
        <p class="fs-4 mb-4">
          Ta aplikacja została zrobiona w Node.JS z użyciem bazy danych MongoDB specjalnie dla Ciebie i twoich myśli!
        </p>
        <a href="/google" class="btn btn-primary btn-large">Wypróbuj aplikację</a>
      </div>
    </div>
  </main>
</div>